/*Generic page styling*/
h1 {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 4.3vw;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #333333;
}

h2 {
    text-align: center;
    font-size: 4vw;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #285036;
}

a:hover {
    color: #6b4b96;
}

body {
    background-color: #d0d0d0;
}

/*Gallery*/
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px;
    align-items: stretch;
}

.gallery img {
    max-width: 100%;
    box-shadow: 0 0 16px #333;
}

.gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery .img {
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 0;
}

.gallery .img:hover {
    transform: scale(1.025);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

#tooltip {
    display: none;
    background: #C8C8C8;
    margin: 0;
    padding: 10px;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
}
